<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Chat App</title>
    <link rel="stylesheet" href="/css/global.css">
    <script id="auth" auth="true" src="/js/auth/auth.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/chat.js" type="module" defer></script>
    <script src="/js/socket/socket.js" type="module" defer></script>
</head>

<body>
    {{>header}}
    <button id="logout">Logout</button>
    <h1 id="user-header">users</h1>
    <div id="users"></div>
    <div id="chat-container">
        <h1 id="chat-header">Chat</h1>
        <form id="message-form">
            <input type="text" placeholder="Message" name="message" required>
            <button type="submit" id="send-button">Send</button>
        </form>
        <div id="chat-section"></div>
    </div>
    {{>footer}}
</body>

</html>